#footer{
    padding:40px 0;
    background-color: $color2;
    font-family: Futura-CondensedMedium;
    .wrapper{
        padding: 0px 26%;
        h4{
            display: inline-block;
            padding: 0px 20px 15px 20px;
            border-bottom: solid 1px $color1;
        }
        .block_footer{
            color:$color1;
            padding-left: 15px;
            h5{
                font-size: 22px;
                font-weight: 100;
                margin-bottom: 20px;
                text-transform: uppercase;
            }
            .link_block{
                img{
                    display: inline-block;
                }
                .link_texts{
                    vertical-align: super;
                    margin-left:15px;
                    margin-bottom:20px;
                    display: inline-block;
                    p{
                        margin-bottom:5px;
                        font-size: 18px;
                    }
                }
            }
        }
        .contact{
            p{
                margin-left:45px;
            }
        }
    }
}
